*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
  height:100vh;
  font-size: 1.3rem;
  display: flex ;
  flex-direction:column ;
  justify-content: space-between;
}

li{
  list-style: none;
  margin: 1rem;
}

.head {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.head--inicial{
  display: flex ;
  align-items: center ;
}

.head--inicial p{
  margin:1rem;
  text-transform: uppercase;
  color:grey ;
}
.head--inicial__figure{
  width: 2rem;
  height:2rem;
  margin: 1rem;
}

.head--inicial__figure img{
  width: 100%;
}
.head--more{
  display: flex ;
  align-items: center ;
}

.head--more__figure{
  width: 2.4rem;
  height: 2.4rem;
  margin: 1rem;
}

.head--more__figure img{
  width: 90%;
}

.head--perfil__logo{
  width: 3.2rem;
  height: 3.2rem;
  margin: 1rem;
}


.head--perfil__logo img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.search{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

/*.search--logo{*/
  /*width:35%*/
  
/*}*/

/*.search--logo img{*/
  /*width:100%*/
/*}*/

.search--form{
  height:4rem;
  display:flex ;
  align-items:center ;
  width:60vw;
 
  border:1px solid gray ;
  border-radius: 2rem;
  margin-bottom: 1.5rem
}
.search--form__lupa{
  margin-left: 2rem;
  width: 4rem;
  height: 60%;

}
.search--form__lupa img{
  height: 100%;
}
.search--form__microfono{
  margin-right: 1rem;
  width: 4rem;
  height: 60%;
}
.search--form__microfono img{
  height: 100%;
}
.search--form__input{
  width:100%;
  height:100%;
  border:0 ;
}

.search--action button{ 
  background-color:#EDEDED;
  padding: 1rem ;
  border: 0;
  border-radius:5px;
  margin: 0 1rem 2rem 1rem ;
}
.espacio{
  height: 20%;
}
.footer{
  display: flex ;
  justify-content: space-evenly ;
  background-color: #EDEDED ;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: gray;
}
.footer--info{
  display: inline-flex;
}
.footer--politicas{
  display: inline-flex;
}
